@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation&family=Fasthand&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: large;
    font-family: 'Edu NSW ACT Foundation';
    padding-top: 12px;
    padding-bottom: 32px;
}
.brand img{
    width: 66px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
body{
    background-color: white;
    width: 100%;
    height: 80%;
}
nav{
    font-family: 'Edu NSW ACT Foundation';
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 80px;
    background-color: black;
    color: bisque;
}
nav ul li{
    padding: 0 12px;
}
.container{
    height: 490px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    margin: 20px auto;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 12px;
}
.bottom{
    position: sticky;
    bottom:0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: azure;
    flex-direction: column;
    height: 130px;
  align-items: center;
}
#myProgressBar{
    width:80vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px;

}
.icons i{
    cursor: pointer;
}
.songItemContainer{
    flex: 1;
    padding-left: 20px;
}
.Songitem{
   display:flex;
   height:28px;
   width: 60%;
   background-color: aliceblue;
   color: #000;
   margin: 8px 6px;
   justify-content: space-between;
   align-items: center;
   border-radius: 16px;
   font-size: small;
}

.Songitem .songName{
    width:45%;
}

.Songitem .songItemPlay{
    margin:4px;
}

.Songitem img{
    height: 32px;
    width:28px;
    margin: 0 15px;
}
.timestamp{
    margin: 0 4px;
    cursor: pointer;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: relative;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    flex: 1;
    text-align: center;
    padding-top: 32px;
}
.songInf{
    position: absolute;
    left: 0;
}
.songInf img{
    height: 32px;
    width:28px;
}

#timer{
 position: absolute;
 right: 7%;
}

@media only screen and (max-width: 1100px) {
    .songInfo{
        display: none;
    }
    .container{
        height: 490px;
        background-color: black;
        color: whitesmoke;
        display: flex;
        margin: 20px auto;
        width: 70%;
        flex-wrap: wrap;
        border-radius: 12px;
    }
    .Songitem{
        display:flex;
        height:28px;
        width: 85%;
        background-color: aliceblue;
        color: #000;
        margin: 8px 6px;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        font-size: small;
     }
     .Songitem>.songName{
        height:auto;
        width:55%;
     }
     .Songitem>.songPlayList{
        display: flex;
        flex-direction: row;
     }
     .timestamp>i{
        width:20%;
     }

   .songInf{
    width:20%;
    height:auto;
   }
  }
  @media only screen and (max-width: 400px){
    .Songitem{
        font-size: x-small;
    }
  }